:root {
  /* Colors */
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayis-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  /* Fonts */
  --headings-font: "DM Serif Display", serif;
  --general-font: "Karla", sans-serif;

  --header-padding: 1rem;

  --margins-container: 1.5rem;
}

/* Reset */

html {
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: var(--general-font);
}

a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.5px;
  transition: color 0.25s ease, background-color 0.25s ease;
}

body {
  font-family: inherit;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: var(--headings-font);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* Utilities */
.plans__link {
  padding: 0.75rem 1.78125rem;
  border: 2px solid var(--Very-Dark-Violet);
}

.header {
  width: 100%;
  padding: 30.5px 0;
  position: relative;
  z-index: 999;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 112px;
  height: 18px;
}

.menu ul {
  display: flex;
  gap: 1.6rem;
}

.menu a {
  color: var(--Dark-Grayis-Violet);
}

.menu a:not(.plans__link):hover {
  color: var(--Very-Dark-Violet);
}

.menu .plans__link {
  color: var(--Very-Dark-Violet);
}

.menu .menu__list .plans__link:hover {
  background-color: var(--Very-Dark-Violet);
  color: var(--Very-Light-Gray);
}

.menu__mobile-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    position: relative;
    padding: 1.5rem 0;
  }

  .container {
    margin-inline: var(--margins-container);
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--Very-Dark-Violet);
    background-image: url(/images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transition: left 0.3s ease-in-out;
    z-index: 99;
  }

  .menu ul {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 2.5rem;
    margin-inline: var(--margins-container);
  }

  .menu a {
    font-size: 20px;
    color: var(--Very-Light-Gray);
  }

  .menu .plans__link {
    border: 2px solid var(--Very-Light-Gray);
    display: inline-block;
    width: 100%;
    height: 56px;
    color: var(--Very-Light-Gray);
  }

  .menu .menu__list .plans__link:hover {
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Violet);
  }

  .menu__mobile-btn {
    display: block;
    height: 2rem;
  }

  .menu__mobile-btn button {
    height: 2rem;
  }

  .is-active {
    left: 0;
  }

  .open-close {
    display: none;
  }
}

.humanizing {
  background-color: var(--Dark-Violet);
  height: 600px;
  position: relative;
}

.humanizing .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 6.5625rem;
}

.content {
  padding-right: 1.875rem;
}

.section__line {
  width: 150px;
  height: 1px;
  color: var(--Very-Light-Gray);
  margin-bottom: 4rem;
}

.humanizing .title {
  font-size: 4.5rem;
  line-height: 0.9;
  color: var(--Very-Light-Gray);
  margin-bottom: 2rem;
}

.humanizing .description {
  color: var(--Very-Light-Gray);
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.humanizing .plans__link {
  border-color: var(--Very-Light-Gray);
  color: var(--Very-Light-Gray);
  text-transform: uppercase;
}

.humanizing .plans__link:hover {
  color: var(--Dark-Violet);
  background-color: var(--Very-Light-Gray);
}

.bg__pattern-desktop-1,
.bg__pattern-desktop-2 {
  /* display: none; */
  position: absolute;
}

.bg__pattern-desktop-1 {
  bottom: -20.8rem;
}

.bg__pattern-desktop-2 {
  top: -5rem;
  right: 0;
  z-index: 1;
}

.bg__pattern-mobile-1,
.bg__pattern-mobile-2 {
  display: none;
}
